@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--Rubik);

}
:root{
    --SoftBlue: hsl(231, 69%, 60%);
    --SoftRed: hsl(0, 94%, 66%);
    --GrayishBlue: hsl(229, 8%, 60%);
    --VeryDarkBlue: hsl(229, 31%, 21%);  
    --Rubik:'Rubik', sans-serif;
}

body{
    
    margin-top: 2rem;
    overflow-x: hidden;
   
}



.Header{
    max-width: 750px;
    margin: 0 auto;
    padding: 0 10%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
   
    
}

.Header img:nth-child(2){
    position: relative;
    cursor: pointer;
    z-index: 2;
    width: 30px;  
}

.Header__nav{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem;
    height: 100vh;
    width: 100%;
    left: 0;
    bottom: 0;
    top: 0;
    background-color: hsla(229, 31%, 21%, 0.974);
    z-index: 1;
   
   
   
}

.Header__nav p{
    position: relative;
    height: 6rem;
    width: 100%;
    text-align: center;
    top: 125px;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    border-top: 0.3px solid var(--GrayishBlue);
    font-family: var(--Rubik);
    font-size: 30px;
    font-weight: 400;
    cursor: pointer;
    text-transform: uppercase;
}
.Header__nav p:nth-child(3){
    border-bottom: 0.3px solid var(--GrayishBlue);
}
.Header__nav button{
    margin: 1rem;
    border-radius: 5px;
    text-transform: uppercase;
    position: relative;
    background-color: transparent;
    height: 4.5rem;
    width: 100%;
    text-align: center;
    top: 135px;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    font-family: var(--Rubik);
    font-size: 30px;
    font-weight: 400;
    cursor: pointer;
    border:solid 2px white;
    &:hover{
        background-color: var(--VeryDarkBlue);
        border: solid 4px white;
    }
}

#logo{
    width: 200px;
    #black{
        fill:hsla(229, 31%, 21%, 0.974);
    }
    path{
        fill: white;
    }
    circle{
        fill: white;
    }
    z-index: 2;
    

}
.deactive1{
    display: none;
}


.Simple{
    max-width: 800px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 10rem;
    
    
}
.Simple__contain{
    margin-top: 4.4rem;
    position: relative;
    width: 100%;
    height: auto;   
}

.Simple .Simple__contain img{
   
    width: 90%;
    display: block;
    margin: 0 auto;
}
.Simple .Simple__contain .Simple__contain--blue{
    position:absolute;
    top: 25%;
    right: 0;
    min-height: 280px;
    width: 80%;
    border-radius: 0 0 0 100px;
    background-color: var(--SoftBlue);
    z-index: -1;
}

.Simple__text{
    margin: 0 auto;
    margin-top: 2.5rem;
    max-width: 750px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.Simple__text h2{
    font-size: 38px;
    font-weight: 600;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    color: var(--VeryDarkBlue);
}
.Simple__text p{
    font-size: 1.2rem;
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    color: var(--GrayishBlue);
    line-height: 35px;
    text-wrap: balance;
}
.Simple__contain--btones{
    height: auto;
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}
#bton2{
    background-color: #f0f0f0;
    color: var(--VeryDarkBlue);
    height: 4rem;
    font-size: 18px;
    width: 47%;
    color: var(--VeryDarkBlue);
    border: none;
    border-radius: 5px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.249);
    cursor: pointer;
}

#bton{
    height: 4rem;
    font-size: 18px;
    width: 47%;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: var(--SoftBlue);
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.249);
    cursor: pointer;
    &:hover{
        background-color: #f0f0f0;
        color: var(--VeryDarkBlue);
    }
}

#bton:hover + #bton2{
    background-color: var(--SoftBlue);
    color: white;
}



.Tremnu{
    max-width: 750px;
    height: auto;
    margin: 0 auto;
}
.Tremnu__text{
    text-align: center;
    display: flex;
    flex-direction: column;
    line-height: 25px;
    gap: 22px;
    margin-top: 3.5rem;
    margin-bottom: 2.5rem;
    & p{
        width: 80%;
        margin: 0 auto;
        color: var(--GrayishBlue);
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 32px;
    }
    & h2{
        color: var(--VeryDarkBlue);
        font-size: 35px;
    }
}
.Tremnu__contain--nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
    font-weight: 500;
}
.Tremnu__contain--nav div{
    height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: solid 1px var(--GrayishBlue);
    width: 80%;
    color: var(--GrayishBlue); 
    p{
     cursor: pointer;
     font-size: 1.3rem;
    }
    &:hover{
        background-color: hsla(229, 8%, 60%, 0.307);
        border-radius: 25px;
        
    
    }
}

.Tremnu__contain--nav .act{
    height: 100%;
    display: flex;
    align-items: center;
    border-bottom: 4px solid  var(--SoftRed);
    color: var(--VeryDarkBlue);
}
.Tremnu__contain--nav div:nth-child(3){
    border-bottom: solid 1px var(--GrayishBlue);
}

.Tremnu__contain--slides{
    width: 100%;
    display: flex;
    flex-direction: column;
    line-height: 22px;
    text-align: center;
    margin-bottom: 4.5rem;
    line-height: 24px;
    h3{
        color: var(--VeryDarkBlue);
        font-weight: 600;
        font-size: xx-large;
        margin-bottom: 1rem;
    }
    p{
        width: 80%;
        justify-self:center ;
        font-size: 1.2rem;
        line-height: 32px;
        margin: 0 auto;
        color: var(--GrayishBlue);
    }
}

.Tremnu__imgs{
    width: 80%;
    height: auto;
    position: relative;
    margin: 0 auto;
    margin-bottom: 5rem; 
   
}

.Tremnu__imgs img{
    width: 85%;
    margin: 0 auto;
    height: auto;
}
.Tremnu__imgs figure{
    position:absolute;
    top: 24%;
    left: -100px;
    min-height: 260px;
    width: 100%;
    border-radius: 0 50px 100px 0;
    background-color: var(--SoftBlue);
    z-index: -1;
    
}
.cards{
    max-width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
    margin: 0 auto;
}
.cards h3{
    color: var(--VeryDarkBlue);
    font-size: xx-large;
}
.cards p{
    width: 80%;
    color: var(--GrayishBlue);
    margin-bottom: 3.2rem;
    font-size: 1.2rem;
    margin-top: 15px;
    line-height: 35px;  
    
}
.cards__contein{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 2.5rem;
    margin-bottom: 2rem;
    height: auto;
    strong{
        display: block;
    
    }
}
.cards__contein--card{
    margin: 0 auto;
    padding: 2.5rem 0 1.8rem 0;
    min-width: 300px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 380px;
    line-height: 10px;
    box-shadow: 2px 15px 6px 0 rgba(0, 0, 0, 0.052),-2px 15px 6px 0 rgba(0, 0, 0, 0.052);
    button{
        height: 45px;
        width: 80%;
        color: white;
        border: none;
        border-radius: 5px;
        background-color: var(--SoftBlue); 
        font-weight: 600; 
        cursor: pointer;
        &:hover{
            background-color: rgba(73, 43, 226, 0.76);
        }
    }
}
.cards__contein--card div{
   width: 100%;
    p{
        width: 100%;
    }
}
.deactive{
    display: none;

}
.questions{
    margin-top: 2.5rem;
    margin: 0 auto;
    max-width:500px;
    height: auto;
    margin-bottom: 6rem;
    button{
        display: block;
        border: none;
        border-radius: 5px;
        height: 4.5rem;
        min-width: 150px;
        background-color: var(--SoftBlue);
        color: white;
        font-size: 22px;
        font-weight: 600;
        cursor: pointer;
        margin: 0 auto;
        margin-top: 3rem;
    
    }
}
.questions .title{
    color: var(--VeryDarkBlue);
    text-align: center;
    font-size: 40px;

}
.questions .paragrap{
    font-size: 1.2rem;
    text-align: center;
    line-height: 28px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 2rem;
    margin-top: 2rem;
    color: var(--GrayishBlue);
}
.questions__preg{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-wrap: balance;
    p{
        text-wrap: balance;
        color: var(--GrayishBlue);
        line-height: 30px;
        margin-bottom: 1.8rem;
        font-size: 1.2rem;
    
    }
}
.questions__preg--click{
    width: 80%;
    height: auto;
    border-bottom: solid 1px var(--GrayishBlue);
    
    


}
.questions__preg--click figure{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 75px;
    h4{
        align-self: center;
        font-weight: 400;
        font-size: 20px;
        cursor: pointer;
    } 
}
.questions__preg--click figure img{
    width: 22px;
    height: 15px;
    align-self: center;
    cursor: pointer;
}

.formulario{
    max-width: 100%;
    margin: 0 auto;
    background-color: var(--SoftBlue);
    text-align: center;
    height: 425px;
    padding: 4rem  1.5rem 3rem 1.5rem;
    gap: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    
}
.formulario__text{
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 25px;
   
    cite{
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 20px;
    }
    h3{
        font-size: 35px;
    }
    
}
.formulario__input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    
    button,
    input{
        height: 75px;
        padding-left: 15px;
        border-radius: 7px;
       
    }
    input::placeholder{
        font-size: x-large;
        position: relative;      
    }
    
    button{
        border: none;
        background-color: var(--SoftRed);
        color: white;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
        &:hover{
            background-color: white;
            color: var(--SoftRed);
            border: 2px solid var(--SoftRed);
        
        }
    }

}
.foter{
    margin: 0 auto;
    max-width: 100%;
    background-color: var(--VeryDarkBlue);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    height: 350px:
    img,
    p{
        cursor: pointer;
        font-size: 25px;
    }
    
}
.foter div{
    display: flex;
    gap: 25px;
    z-index: 2;
    img{
        width: 45px;
    }
}
#lgfff path{
    fill: white;

}
.input-error{
    background-image: url('./images/icon-error.svg');
    background-repeat: no-repeat;
    background-position: right 10px center; /* Ajusta la posición según sea necesario */
    background-size: 20px; /* Ajusta el tamaño según sea necesario */
    border: solid 4px var(--SoftRed) ;
    &:focus{
     border: solid 4px var(--SoftRed);
    
    }
  }






@media(max-width:500px){
    body h2{
        font-size: 1.8rem !important;
    }
    body h3{
        font-size: 1.5rem !important;
    }
    body p{
        font-size: 1rem !important;
    }
    
    
    .Simple .Simple__contain .Simple__contain--blue{
        min-height: 180px;
    }
    .Header img:nth-child(2){
        width: 22px;
    
    }
    .Tremnu figure{
        min-height: 190px;
    
    }


}

@media (min-width:750px){
    
    .Header__nav{
        position:static;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        height: auto;
        width: 50%;
        background-color: transparent;
        padding: 0;
        p{  
            width: auto;
            position: static;
            height: auto;
            font-size: 14px;
            border: none;
            color: var(--VeryDarkBlue);
            display: block;
            
        }
        button{
            width:100px;
            position: static;
            height: auto;
            display: block;
            font-size: 14px;
            height: 40px;
            background-color: var(--SoftRed);
            border: none;
            margin: 0;
            box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.122);
            &:hover{
                background-color: transparent;
                color: var(--SoftRed);
                border: solid 2px var(--SoftRed);
            
            }
            
        }
        
    }
    .Header__nav p:nth-child(3){
        border-bottom: none;
    }
    #burger{
        display: none;
    }
    .Header{
        padding: 0 10%;
        max-width: 1300px;
    }
}


@media(min-width:1024px){
    body{
        overflow-x:hidden;
    }
    
    
    .Header__nav p:nth-child(3){
        border-bottom: none;
    }
    
    .Simple{
        max-width: 1300px;
        margin-top: 4.5rem;
        display: flex;
        margin-bottom: 4.5rem;
        
    }
    .Simple__text{
        margin-top: 0;
        width: 50%;
        order: 1;
    }
    .Simple__contain{
        width: 50%;
        order: 2;
        margin: 0;
    
    }
    .Simple .Simple__contain img{
        margin: 0 0;
        width: 105%;
    
    }
    .Simple .Simple__contain .Simple__contain--blue{
        min-height: 350px;
        width: 90%;
        right: -125px;
    }
    .Tremnu{
        max-width: 1300px;
        padding: 0 2rem;
        
    }
    
    .Tremnu__contain--nav div:nth-child(3){
        border-bottom: solid 2px var(--GrayishBlue);
    }
    .Tremnu__contain--nav{
        max-width: 100%;
        flex-direction: row;
        div{
            border-top: none;
            border-bottom: solid 2px var(--GrayishBlue);
        }
        
    
    }
    .slides{
        display: grid;
        height: 425px;
        grid-template-columns: repeat(2,1fr);
        text-align: left;
        margin-bottom: 0;
        grid-template-areas: 
        "img  h3";
        h3{
            grid-area: h3;
            width: 80%;
            height: 20%;
            margin: 0 auto; 
        }
        p{
            height:200px;
            position: relative;
            top: 100px;
            grid-area: h3;
        }
    }
    .slides p::after{
        content: "More Info";
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 25px;
        border-radius: 8px;
        box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.249);
        height: 50px;
        width: 100px;
        background-color: var(--SoftBlue);
        color: #f0f0f0;
        cursor: pointer;
    }
    
    
    .Tremnu__text{
        margin: 0 auto;
        margin-top: 0;
         width: 80%;
    }
    
    .Tremnu__imgs figure{
        left: -300px;
        max-height: 325px;
    }
    .cards{
        max-width: 1300px;
        position: relative;
    }
    .cards__contein{
        flex-direction: row;
        height: 30rem;
        gap: 0;
    }
    .card1{
        align-self: flex-start;    
    }
    .card2{
        align-self: center;
        margin: 0;
    }
    
    .card3{
        align-self: flex-end;
    }
        
    .deactive{
        display: none;
    }
    .questions{
        max-width:800px;
    }
    .questions__preg{
        max-width: 600px;
    
    }
    .formulario{
        height: auto;
    }
    .formulario__input{
        flex-direction: row;
        width: 55%;
        margin: 0 auto; 
        justify-content: space-between;
        input{
            flex-grow: 2;
        }
        button{
            flex-grow: 1;
            padding: 0;
            
        }
        
    }
    .foter{
        flex-direction: row;
        height: 5rem;
        justify-content: space-evenly;
        img,
        p{
             cursor: pointer;
        
        }
        
        
    }
}

